/* MainView.css */
.main-view-container {
    padding: 20px;
    text-align: center;
}

.movies-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.movies-grid h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}
